extends ./layout

block content
  div(ng-app, ng-controller='HomeCtrl', ng-init='init(#{JSON.stringify(posts)})').page-width-max.center.padding-space
    div.card.head-room.center
      h1.center-text
        span.glyphicon.glyphicon-heart-empty
        span Elijah's Personal Secret Personal Diary
        span.glyphicon.glyphicon-heart-empty
      div(ng-repeat='post in posts').padding-space
        div(ng-class-odd='oddPost').well
          h2
            a(ng-click='navToPost(post._id)') {{post.title}}
          h3 By: Dr. {{post.author}}
          h4 Written On: {{post.timestamp | date:'medium'}}
          div {{post.body}}

block head
  script(src="/javascripts/home.js")