doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/require/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/require/jquery-1.10.2.min.js")
    script(src="/require/jquery-ui.min.js")
    script(src="/require/bootstrap.min.js")
    //- script(src="/require/angular.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.4/angular.min.js")
    script(src="/require/underscore.js")
    block head
  body.padding-space
    block content
